<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Online Quiz for Everyone - DeQuiz</title>
<meta name="description" content="Online quiz for variety of topics to enhance your knowledge. Gives a platform to play along with your fiends and families. Create your own quiz or join existing quiz.">
<meta name="keywords" content="Online Quiz, Online tests, dequiz, Indian quiz, entertainment, group activity">
<link href="CSS/dequiz.css" rel="stylesheet" type="text/css" />
</head>
<body onload="MM_preloadImages('images/home_clicked.jpg','images/home_hover.jpg','images/aboutus_clicked.jpg','images/aboutus_hover.jpg','images/joinquiz_clicked.jpg','images/joinquiz_hover.jpg','images/contactus_clicked.jpg','images/contactus_hover.jpg','images/login_clicked.jpg','images/login_hover.jpg')">
<div class="wrapper">
<!--  page header containg heading and menu -->
<div align="center" class="pageheader">
  <h1  class="pageheader"><span class="style1"><img src="images/dqlogo.jpg" alt="De Quiz" name="DeQuizLogo" width="80" height="80" id="DeQuizLogo" />
  </span> <span class="style2">De Quiz</span></h1>
</div>
<!--  page header containg heading and menu -->
<div class="menu-container">
	<div class="menuitem" ><a href="index.html">Home</a></div>
	<div class="menuitem"><a href="aboutus.html">About Us</a></div>
	<div class="menuitem"><a href="joinquiz">Join Quiz</a></div>
	<div class="menuitem"><a href="contactus">Contact Us</a></div>
	<div class="menuitem"><a href="login">Login</a></div>
	
<!-- <table >
  <tr>
    <td><a href="index.html" class="menuitem" target="_top" onclick="MM_nbGroup('down','group1','Home','images/home_clicked.jpg',1)" onmouseover="MM_nbGroup('over','Home','images/home_clicked.jpg','images/home_clicked.jpg',1)" onmouseout="MM_nbGroup('out')"><img src="images/home_clicked1.jpg" alt="Home" onload="" /></a></td>
    <td><a href="aboutus.html" class="menuitem" target="_top" onclick="MM_nbGroup('down','group1','AboutUs','images/aboutus_clicked.jpg',1)" onmouseover="MM_nbGroup('over','AboutUs','images/aboutus_hover.jpg','images/aboutus_clicked.jpg',1)" onmouseout="MM_nbGroup('out')"><img src="images/aboutus.jpg" alt="About Us" onload="" /></a></td>
    <td><a href="joinquiz" class="menuitem" target="_top" onclick="MM_nbGroup('down','group1','JoinQuiz','images/joinquiz_clicked.jpg',1)" onmouseover="MM_nbGroup('over','JoinQuiz','images/joinquiz_hover.jpg','images/joinquiz_clicked.jpg',1)" onmouseout="MM_nbGroup('out')"><img src="images/joinquiz.jpg" alt="Join Quiz" onload="" /></a></td>
    <td><a href="contactus.html" class="menuitem" target="_top" onclick="MM_nbGroup('down','group1','ContactUs','images/contactus_clicked.jpg',1)" onmouseover="MM_nbGroup('over','ContactUs','images/contactus_hover.jpg','images/contactus_clicked.jpg',1)" onmouseout="MM_nbGroup('out')"><img src="images/contactus.jpg" alt="Contact Us" onload="" /></a></td>
    <td><a href="admin" class="menuitem" target="_top" onclick="MM_nbGroup('down','group1','LogIn','images/login_clicked.jpg',1)" onmouseover="MM_nbGroup('over','LogIn','images/login_hover.jpg','images/login_hover.jpg',1)" onmouseout="MM_nbGroup('out')"><img src="images/login.jpg" alt="Log in" name="LogIn" id="LogIn" onload="" /></a></td>
  </tr>
</table>
 -->
</div>
<!--  end of page header -->
<!--  content block -->
<div class="content-window">
<h1>Welcome to DeQuiz</h1><p/>
<H2>Error</H2><p/>
<H3>Some problem occurred. Please start again.</H3>
</div>
<!-- end of content block -->
<!--  Footer -->
<div class="footer">
<table >
<tr>
  <td align=right>&copy; DeQuiz India </td>
</tr>
</table>
</div>
<!--  end of Footer -->
</div>
</body></html>
